<div class="row project-top-container">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<%= image_tag project.images[0].img.original_filename, :class => 'project_img thumb_project_img' if project.images[0] %>
	</div>
	<div class="col-md-2">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h3> <%= link_to project.name, project %> </h3>
		<%= "#{project.description[0..250]}" %>
		<br>
		<%= link_to "Read more...", project %>
	</div>
</div>
<div class="row project-links">
	<div>
		<%= link_to "Live", project.live_link, class: "btn btn-primary" %>
		<%= link_to "Github", project.github, class: "btn btn-primary" %><br>
	</div>
</div>