<%= form_for(@project, html: {:multipart => true}, :url => { :action => :create }) do |f| %>
    
    <%= f.label :name %>:
    <%= f.text_field :name %><br />

    <%= f.label :description %>:
    <%= f.text_field :description %><br />

    <%= f.label :github %>:
    <%= f.text_field :github %><br />

    <%= f.label :live_link %>:
    <%= f.text_field :live_link %><br />

    <%= f.radio_button(:personal_or_work, false) %>
    <%= f.label(:personal_or_work, "Work") %>
    <%= f.radio_button(:personal_or_work, true) %>
    <%= f.label(:personal_or_work, "Personal") %> 
    <%= f.hidden_field :author_id, :value => current_user.id %>
    <%= f.fields_for :post_images do |p| %>
     <div class="field">
       <%= p.label :image %><br>
       <%= p.file_field :image, :multiple => true, name: "project_images[image][]" %>
     </div>
   <% end %>

    <%= f.submit %>
  <% end %>