<div class="container-fluid fullscreen-intro portfolio">
	<%= image_tag("background2.jpeg", id: "background-image") %>

	<h3 class="post-title"> Hynson Develops </h3>
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		</div>

		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<p class="portfolio-intro"> Hello! My name is Adam Hynson and I am a freelance web developer based in Baltimore, Maryland. I specialize in Ruby on Rails and ReactJS development. I am a full stack developer with strong backend skills. </p>
			<div class="portfolio-description">
				<h2>I have skills in... </h2>
				<div class="typewriter">
					<h1 class="portfolio-skills" id="skill0"> HTML/CSS </h1> 
					<h1 class="portfolio-skills" id="skill1"> Bootstrap </h1> 
					<h1 class="portfolio-skills" id="skill2"> Javascript </h1> 
					<h1 class="portfolio-skills" id="skill3"> jQuery </h1> 
					<h1 class="portfolio-skills" id="skill4"> PostgreSQL </h1>
					<h1 class="portfolio-skills" id="skill5"> BASH </h1>
					<h1 class="portfolio-skills" id="skill6"> Ruby on Rails </h1>
					<h1 class="portfolio-skills" id="skill7"> React </h1>
					<h1 class="portfolio-skills" id="skill8"> Redux </h1>
				</div>
			</div>
			<div class="portrait-contact">	
				<% if (@user.img != nil) %>
					<%= image_tag @user.img.url(:medium), class: "portfolio-portrait" %>
				<% end %>
				<br>
				<a class="btn btn-primary btn-lg" id="contact-scroll-button" href="#portfolio-contact-scroll">Yes, I'm available for hire</a>
			</div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		</div>
	</div>
	<div class="row blog-projects">
		<a id="blog-projects-a" href="#portfolio-blog">
			<p> Learn more about my work </p>
			<i id="blog-project-arrow" class="fa fa-chevron-down fa-2x"></i>
		</a>
	</div>
</div>
<div class="container-fluid portfolio-blog" id="portfolio-blog">
	<div class="col-md-6">
		<h3 class="post-title"> Blog </h3>
		<div class="posts-section">
			<% @posts.each do |post| %>
			<div class="col-md-offset-3 col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:center">
				<%= render partial: "posts/thumb", :locals => {post: post, user: @user} %>
			</div>
			<% end %>
		</div>
	</div>
	<div class="col-md-6" style="text-align:center">
		<h3 class="post-title"> Companies </h3>
		<h3><a href="https://www.paubox.com/"><%= image_tag "paubox.png", style: "max-width: 150px" %></a></h3>
			<%= image_tag "PauboxFeedback.png", style: "border-radius: 25px; max-width:400px", id: "paubox" %>
	</div>

	</div>
</div>

<div class="container-fluid portfolio-projects grey-background" id="portfolio-contact-scroll">
	<h3 class="post-title"> Projects and Work </h3>
	<div class="project-section">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<%= render partial: "thumb", :locals => {project: @snacker_tracker} %>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<%= render partial: "thumb", :locals => {project: @real_estate} %>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<%= render partial: "thumb", :locals => {project: @tutoring} %>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<%= render partial: "thumb", :locals => {project: @feedback} %>
		</div>
	</div>
</div>
<div class="container-fluid portfolio-contact">
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
	</div>
	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		<div class="contact-text">
			<h1> Want to contact me? </h1>
			<h2> I am currently accepting new freelance projects. Please give me a description and I will respond promptly. </h2>
		</div>

		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary btn-lg" id="contact-button" data-toggle="modal" data-target="#myModal">Contact Me
		</button>

		<!-- Modal -->
		<div class="modal-container">
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h3 class="modal-title" id="myModalLabel">Contact Me</h3>
			      </div>
			      <div class="modal-body" id="contact-modal">
			        	<div class="row" id="contact-name-email">
			        		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			        		</div>
				        	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				        		<%= form_for(@contact) do |f| %>
				        		<%= f.text_field(:name, class: "contact-text", placeholder: "Name") %>
				        	</div>
				        	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				        		<%= f.text_field(:email, class: "contact-text", placeholder: "Email") %>
				        	</div>
				        	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				        	</div>
				        </div>
			        	<div class="row">
			        		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			        		</div>
			        		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			        			<%= f.text_area(:description, class: "contact-description", placeholder: "Tell me about your project. What needs solving? How do you think I could help? Timeline, budget, and technologies involved would all be appreciated.") %>
			        			<% end %>
			        		</div>
			        		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			        		</div>
			        	</div> 
			      </div>
			      <div class="modal-footer" id="contact-create-buttons">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary" onclick="submitContactInfo();">Save changes</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>

	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
	</div>
</div>

<script>
	$(document).ready(rotateText())
</script>