<br>
<br>

<div class="row">
	<div class="col-md-5">
		<% @project.images.each_with_index do |image, index| %>
			<%= image_tag image.img.original_filename, :class => 'project_img project_side_img' if (index % 2 == 0) %>
		<% end %>
	</div>
	<div class="col-md-2">
		<div class="row project-top-container">
			
				<h3> <%= link_to @project.name, @project %> </h3>
				<%= @project.description %>
				<br>
		</div>
		<div class="row project-links">
			<div>
				<%= link_to "Live", @project.live_link, class: "btn btn-primary" %>
				<%= link_to "Github", @project.github, class: "btn btn-primary" %><br>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<% @project.images.each_with_index do |image, index| %>
			<%= image_tag image.img.original_filename, :class => 'project_img' if (index % 2 == 1) %>
		<% end %>
	</div>
</div>
