<div class="row">
	<h3> <%= link_to post.title, post %> </h3>
	 <%= post.created_at.strftime("Posted on %A %B %d at %I:%M%p") %>
</div>
<div class="row">
			<%= image_tag post.images[0].img.url(:large), class: "col-xs-4 col-sm-4 col-md-4 col-lg-4 author-pic"%>
	<div class="col-md-8">
		<%= link_to "#{post.content[0..250]}...", post %>
	</div>
</div>
<div class="row">
	<%= render partial: "posts/associated_tags", :locals => {tags: post.tags} %>
</div>

