<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid"id="first-element-nav" >
    <div class="navbar-header">
      <a href="/posts" class="navbar-brand">Blog</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapsable">
      <ul class="nav navbar-nav foo" id="menu">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Topics <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/tags/Rails">Rails</a></li>
            <li><a href="/tags/Ruby">Ruby</a></li>
            <li><a href="/tags/Javascript">Javascript</a></li>
            <li><a href="/tags/HTML">HTML</a></li>
            <li><a href="/tags/CSS">CSS</a></li>
          </ul>
        </li>
        <% if user_signed_in? %>
          <li><a href="/users/posts" id="authored-posts">Authored Posts</a></li>
          <li><a href="/posts/new" id="new-post">New Post</a></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right" align="right">
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a data-toggle="modal" href="#myModal">Contact Me</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal-container">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel">Contact Me</h3>
        </div>
        <div class="modal-body" id="contact-modal">
            <div class="row" id="contact-name-email">
              <div class="col-md-2">
              </div>
              <div class="col-md-4">
                <%= form_for(@contact) do |f| %>
                <%= f.text_field(:name, class: "contact-text", placeholder: "Name") %>
              </div>
              <div class="col-md-4">
                <%= f.text_field(:email, class: "contact-text", placeholder: "Email") %>
              </div>
              <div class="col-md-2">
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8">
                <%= f.text_area(:description, class: "contact-description", placeholder: "Tell me about your project. What needs solving? How do you think I could help? Timeline, budget, and technologies involved would all be appreciated.") %>
                <% end %>
              </div>
              <div class="col-md-2">
              </div>
            </div> 
        </div>
        <div class="modal-footer" id="contact-create-buttons">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="submitContactInfo();">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
