<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/navbar" %>

    <% if request.env['PATH_INFO'] != "/portfolio" %>
       <div class="page-specific-content">
        <%= yield %>
      </div>
      <div id="disqus_thread"></div>
    </body>
    <% else %>
      <%= yield %>
    <% end %>
</html>
